<footer class="page-footer pt-3 mt-5">
    <div class="container text-center text-md-start">
        <div class="row justify-content-center">
            <div class="col-md-8 mt-md-0 mt-3">
                <h5 class="text-uppercase">Credits</h5>
                <p>Maphe - Original creator</p>
                <p>Ramos#5256, ScumbagJonas#1337 & Methusela#2434 - Future maintenance & development</p>
            </div>
        </div>
    </div>
</footer>
