{{!-- <a href='https://www.ldplayer.net/?n=51915455#utm_source=aff&utm_medium=aff&utm_campaign=aff51915455'
  target='_blank' id='right-banner' class='d-none d-lg-block'><img src='/img/ldplayer_banner.jpeg'></a> --}}

<h2 class='mt-3'>Useful resources</h2>

<div>
  <h5 class='mt-3'>Fribbels Epic 7 Optimizer</h5>
  <p style='text-align: justify'>
    <a href="https://github.com/fribbels/Fribbels-Epic-7-Optimizer" target='_blank'>This tool</a> helps organizing gear
    and optimizing gear and unit builds for Epic 7.
  </p>
</div>

<div>
  <h5 class='mt-3'>Fribbels E7 Guild War Meta Tracker</h5>
  <p style='text-align: justify'>
    <a href="https://fribbels.github.io/e7/gw-meta.html" target='_blank'>This website</a> tracks data from more than
    half a million attacks from top 30 ranked guild wars.
  </p>
</div>

<div>
  <h5 class='mt-3'>Fribbels E7 Hero Library</h5>
  <p style='text-align: justify'>
    <a href="https://fribbels.github.io/e7/hero-library.html" target='_blank'>This website</a> shows the top builds
    globally per hero.
  </p>
</div>

<div>
  <h5 class='mt-3'>Epic7 Damage Calculator</h5>
  <p style='text-align: justify'>
    <a href="https://e7calc.xyz/" target='_blank'>This website</a> is a Damage Calculator for Epic Seven for every hero
    in the game. Enter your hero stats to get their damage potential.
  </p>
</div>

<div>
  <h5 class='mt-3'>Cecilia Timeline</h5>
  <p style='text-align: justify'>
    <a href="https://ceciliabot.github.io/timeline/" target='_blank'>This website</a> shows the timeline of all released
    heroes since the beggining of the game, including the ones to come.
  </p>
</div>

<div>
  <h5 class='mt-3'>E7 Vault</h5>
  <p style='text-align: justify'>
    <a href="https://www.e7vau.lt/" target='_blank'>This website</a> releases information datamined from the game
    patches.
  </p>
</div>

<div>
  <h5 class='mt-3'>Gear Score Calculator</h5>
  <p style='text-align: justify'>
    <a href="https://needlebot.github.io/e7gear/" target='_blank'>This website</a> lets you calculate how good your gear
    is.
  </p>
</div>

<div>
  <h5 class='mt-3'>Guild War Reporting</h5>
  <p style='text-align: justify'>
    <a href="https://vigilant-poincare-de2828.netlify.app/" target='_blank'>This website</a> allows to create guild war
    reports.
  </p>
</div>

<div>
  <h5 class='mt-3'>Epic7x</h5>
  <p style='text-align: justify'>
    <a href="https://epic7x.com/" target='_blank'>This website</a> shows all information about heroes and artifacts.
  </p>
</div>